<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク変更</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">

<script type="text/javascript">
  function editConfirm(){
      var checked = confirm("この内容で変更しますか？");
      if (checked == true) {
          return true;
      } else {
          return false;
      }
  }
</script>
</head>
<body>
	<h1>タスク変更</h1>
	
	<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}"method="post">
		<table border="1">
			<tr>
				<th>カテゴリー</th>
				<td><input type="radio" id="category1" name="categoryId" value="1"
					th:checked="${task.categoryId == 1}">仕事
					<input type="radio"	id="category2" name="categoryId" value="2"
					th:checked="${task.categoryId == 2}">個人
					<input type="radio"	id="category3" name="categoryId" value="3"
					th:checked="${task.categoryId == 3}">その他
				</td>
			</tr>
			<tr>
				<th>タイトル</th>
				<td><input type="text" name="title" th:value="${task.title}"></td>
			</tr>
			<tr>
				<th>進捗状況</th>
				<td><input type="radio" id="category1" name="progress" value="1"
					th:checked="${task.categoryId == 1}">未着手
					<input type="radio"	id="category2" name="progress" value="2"
					th:checked="${categoryId == 2}">進行中
					<input type="radio"	id="category3" name="progress" value="3"
					th:checked="${categoryId == 3}">完了
				</td>
			</tr>
			<tr>
				<th>期限</th>
				<td><input type="date" name="closingDate" th:value="${task.closingDate}"></td>
			</tr>
			<tr>
				<th>メモ</th>
				<td><textarea name="memo" rows="10" th:value="${task.memo}" th:text="${task.memo}"></textarea></td>
			</tr>
		</table>
		<button onclick="return editConfirm()">変更</button>
	</form>
</body>
</html>