<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>タスク一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript">
		function deleteConfirm() {
			var checked = confirm("削除します");
			if (checked == true) {
				return true;
			} else {
				return false;
			}
		}
	</script>
</head>
<header>
	<h1>ToDoリスト</h1>
	<div>
		[[${@account.name}]]さんがログイン中
		<a href="/users/logout">ログアウト</a>
	</div>
</header>

<form action="/tasks" method="get" class="searchForm">
		<input type="text" name="keyword" placeholder="キーワード" th:value="${keyword}">
	<button>検索</button>
</form>
カテゴリで絞り込み :
	<a href="/tasks" class="button-51">全タスク</a>
	<a th:each="category:${categories}" th:href="@{/tasks(categoryId=${category.id})}" th:text="${category.name}"
		style="margin-right: 5px;" class="button-51"></a>
	<a href="/tasks/complete" class="button-51">完了済み</a><br>
	<a href="/tasks/createTask" class="button-1">個人タスク作成 ⊕</a>
	<a href="/tasks/createShareTask" class="button-1">共有タスク作成 ⊕</a>
	
<table border="1">
	<tr>
		<th>NO</th>
		<th>タイトル</th>
		<th>カテゴリー</th>
		<th>期限</th>
		<th>進捗状況</th>
		<th>メモ</th>
		<th>変更</th>
		<th>削除</th>
		<th>完了</th>
	</tr>
	<tr th:each="task:${taskList}">
		<td th:text="${task.id}"></td>
		<td th:text="${task.title}"></td>
		<td th:if="${task.categoryId} == 1">仕事</td>
		<td th:if="${task.categoryId} == 2">個人</td>
		<td th:if="${task.categoryId} == 3">その他</td>
		<td th:text="${task.closingDate}"></td>
		<td><span th:if="${task.progress} == 1">未着手</span>
			<span th:if="${task.progress} == 2">進行中</span>
			<span th:if="${task.progress} == 3">完了</span>
		</td>
		<td th:text="${task.memo}"></td>
		<td>
			<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="get">
				<button>変更</button>
			</form>
		</td>
		<td>
			<form th:action="@{/tasks/{taskId}/delete(taskId=${task.id})}" method="post">
				<button onclick="return deleteConfirm()">削除</button>
			</form>
		</td>
		<td>
			<form th:action="@{/tasks/{taskId}/complete(taskId=${task.id})}" method="post">
				<button>完了</button>
			</form>
		</td>
	</tr>
	<tr th:each="task:${shareTaskList}">
		<td th:text="${task.id}"></td>
		<td th:text="${task.title}"></td>
		<td th:if="${task.categoryId} == 1">仕事</td>
		<td th:if="${task.categoryId} == 2">個人</td>
		<td th:if="${task.categoryId} == 3">その他</td>
		<td th:text="${task.closingDate}"></td>
		<td><span th:if="${task.progress} == 1">未着手</span>
			<span th:if="${task.progress} == 2">進行中</span>
			<span th:if="${task.progress} == 3">完了</span>
		</td>
		<td th:text="${task.memo}"></td>
		<td>
			<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="get">
				<button>変更</button>
			</form>
		</td>
		<td>
			<form th:action="@{/tasks/{taskId}/delete(taskId=${task.id})}" method="post">
				<button onclick="return deleteConfirm()">削除</button>
			</form>
		</td>
		<td>
			<form th:action="@{/tasks/{taskId}/complete(taskId=${task.id})}" method="post">
				<button>完了</button>
			</form>
		</td>
	</tr>
</table>
</body>
</html>